node_modules
.git
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.phpunit.result.cache
tests
.github
README.md
*.md
.editorconfig
.gitignore
.gitattributes
public/build
public/hot